<template>
  <Page>
    <!-- Content -->
    <div class="wide-content">
      <h1 class="mt-4 mb-3 text-center">Port categorisation</h1>
      <p class="mb-4">
        Devices that support the Ubuntu Touch operating system can be
        categorized in different groups based on the way they run the operating
        system. Most of the devices are ported from Android using the Halium
        technology to adapt the hardware.
      </p>

      <!--Halium ports-->
      <h2 class="h3">Halium</h2>
      <p class="mb-4">
        Halium is the project that allows running Ubuntu Touch on phones that
        are made to run Android. Halium ports use Android drivers and kernel to
        make Ubuntu Touch interact with the hardware. Ubuntu Touch is not an
        Android ROM and the OS that runs on top of Halium does not share any of
        its parts with Android. We use Halium as an intermediary between the
        hardware designed to run Android and Ubuntu Touch.
      </p>

      <!--Halium 5.1 ports-->
      <h3 class="h5">Version 5.1</h3>
      <p class="mb-4">
        Halium 5.1 devices are based on Android 5.1. These devices may have
        little RAM and CPU speed and will run a bit slower than others, but are
        very useful if you want to give Ubuntu Touch a test drive and then
        decide if you want to buy a more powerful device capable of running the
        OS.
      </p>
      <p class="mb-4">
        <span
          v-for="(device, index) in $page.halium5.edges.map((n) => n.node)"
          :key="'h5-' + index"
        >
          <g-link class="link" :to="device.path">{{ device.name }}</g-link>
          <span v-if="index < $page.halium5.edges.length - 1">, </span>
        </span>
      </p>

      <!--Halium 7.1 ports-->
      <h3 class="h5">Version 7.1</h3>
      <p class="mb-2">
        Devices that originally ran Android 7 can run on Halium 7.1.
      </p>
      <p class="mb-4">
        <span
          v-for="(device, index) in $page.halium7.edges.map((n) => n.node)"
          :key="'h7-' + index"
        >
          <g-link class="link" :to="device.path">{{ device.name }}</g-link>
          <span v-if="index < $page.halium7.edges.length - 1">, </span>
        </span>
      </p>

      <!--Halium 9.0 ports-->
      <h3 class="h5">Version 9.0</h3>
      <p class="mb-2">
        Halium 9.0 is currently the latest version of Halium and allows devices
        that run Android 9 to be ported to Ubuntu Touch. Here you can find the
        most powerful devices running Ubuntu Touch and enjoy a very smooth
        experience.
      </p>
      <p class="mb-4">
        <span
          v-for="(device, index) in $page.halium9.edges.map((n) => n.node)"
          :key="'h9-' + index"
        >
          <g-link class="link" :to="device.path">{{ device.name }}</g-link>
          <span v-if="index < $page.halium9.edges.length - 1">, </span>
        </span>
      </p>

      <!--Native ports-->
      <h2 class="h3">Native</h2>
      <p class="mb-2">
        Native devices are devices that run Ubuntu Touch without the need of an
        adaption for hardware enablement. These devices are usually made for
        Ubuntu Touch and other Linux-based operating systems. Native devices are
        also sold with Ubuntu Touch or other Linux-distros preinstalled.
      </p>
      <p class="mb-4">
        <span
          v-for="(device, index) in $page.native.edges.map((n) => n.node)"
          :key="'n-' + index"
        >
          <g-link class="link" :to="device.path">{{ device.name }}</g-link>
          <span v-if="index < $page.native.edges.length - 1">, </span>
        </span>
      </p>

      <!--Native ports-->
      <h2 class="h3">Legacy</h2>
      <p class="mb-2">
        After the Ubuntu Touch project got discontinued by Canonical and UBports
        started maintaining the project we inherited the devices that already
        ran Ubuntu Touch in the Canonical times. We call these ports legacy
        because we currently use Halium instead of the original Canonical
        porting method.
      </p>
      <p class="mb-4">
        <span
          v-for="(device, index) in $page.legacy.edges.map((n) => n.node)"
          :key="'l-' + index"
        >
          <g-link class="link" :to="device.path">{{ device.name }}</g-link>
          <span v-if="index < $page.legacy.edges.length - 1">, </span>
        </span>
      </p>

      <!--Unknown device port type-->
      <h2 class="h3">Unknown port type</h2>
      <p class="mb-2">
        Some devices don't have a specified port type in the device data, if you
        are the porter or you know which type of device is, you can add the port
        type and submit a merge request with your changes at the devices website
        on Gitlab.
      </p>
      <p class="mb-4">
        <span
          v-for="(device, index) in $page.unknown.edges.map((n) => n.node)"
          :key="'u-' + index"
        >
          <g-link class="link" :to="device.path">{{ device.name }}</g-link>
          <span v-if="index < $page.unknown.edges.length - 1">, </span>
        </span>
      </p>
    </div>
  </Page>
</template>

<page-query>
query {
  halium5: allDevice (filter: {portType: {eq: "Halium 5.1"}}, sortBy: "name", order: ASC){
    totalCount
    edges {node {name path}}
  }
  halium7: allDevice (filter: {portType: {eq: "Halium 7.1"}}, sortBy: "name", order: ASC){
    totalCount
    edges {node {name path}}
  }
  halium9: allDevice (filter: {portType: {eq: "Halium 9.0"}}, sortBy: "name", order: ASC){
    totalCount
    edges {node {name path}}
  }
  legacy: allDevice (filter: {portType: {eq: "Legacy"}}, sortBy: "name", order: ASC){
    totalCount
    edges {node {name path}}
  }
  native: allDevice (filter: {portType: {eq: "Native"}}, sortBy: "name", order: ASC){
    totalCount
    edges {node {name path}}
  }
  unknown: allDevice (filter: {portType: {exists: false}}, sortBy: "name", order: ASC){
    totalCount
    edges {node {name path}}
  }
}
</page-query>

<script>
import Page from "~/layouts/Page.vue";

export default {
  metaInfo: {
    title: "Port type",
    meta: [
      {
        name: "keywords",
        content:
          "Ubuntu Touch, mobile, Linux, Android, privacy, smartphone, porting"
      },
      {
        name: "description",
        content:
          "Explore devices compatible with Ubuntu Touch. There are different ways to bring a device to Ubuntu Touch depending on the specifications. Here you can find a guide to explore this from the user perspective."
      },
      {
        property: "og:url",
        content: "https://devices.ubuntu-touch.io"
      },
      {
        property: "og:title",
        content: "Port type • Ubuntu Touch • Linux Phone"
      },
      {
        property: "og:description",
        content:
          "Explore devices compatible with Ubuntu Touch. There are different ways to bring a device to Ubuntu Touch depending on the specifications. Here you can find a guide to explore this from the user perspective."
      }
    ]
  },
  components: {
    Page
  }
};
</script>
