<template>
  <Layout>
    <!-- Heading -->
    <div class="heading">
      <!-- Title -->
      <div class="title mt-4">
        <div>
          <h1 class="h3">{{ $page.device.name }} - Developer report</h1>
        </div>
      </div>
    </div>

    <!-- Progress -->
    <p class="bold mb-1">Overall progress</p>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        :style="{ width: $page.device.progress + '%' }"
        :aria-valuenow="$page.device.progress"
        aria-valuemin="0"
        aria-valuemax="1"
      >
        <p
          v-if="
            $page.device.progressStage != 'Unavailable' &&
            $page.device.progress >= 50
          "
          class="bold"
        >
          {{ $page.device.progressStage }}
        </p>
      </div>
      <p
        v-if="
          $page.device.progressStage != 'Unavailable' &&
          $page.device.progress < 50
        "
        class="bold external-label"
      >
        {{ $page.device.progressStage }}
      </p>
    </div>

    <!-- Unmaintained -->
    <div
      v-if="$page.device.tag == 'unmaintained'"
      class="ports-banner unmaintained bold"
    >
      <p>
        This device is not maintained, nobody is actively developing it and it
        will not receive fixes for known issues.
      </p>
      <p>
        If you are a developer we encourage you to contact the porter to
        continue development.
      </p>
    </div>

    <h5 class="mb-3 mt-5">How can I improve page data?</h5>
    <p class="mb-3">The following data is missing for this port:</p>

    <ul class="mb-2 missing-data-list">
      <li v-for="(error, index) in $page.device.notValid" :key="index">
        {{ error }}
      </li>
    </ul>

    <div
      v-if="$page.device.portStatus.length && $page.device.nextProgressStage"
    >
      <h5 class="mb-3 mt-5">
        Working features required for the next stage of development ({{
          $page.device.nextProgressStage
        }})
      </h5>
      <PortStatus
        v-if="$page.device.nextStageRequirements.length"
        class="missing-data"
        :port-status="$page.device.nextStageRequirements"
      />
    </div>
  </Layout>
</template>

<page-query>
query ($id: ID!) {
  device(id: $id) {
    name
    codename
    portType
    deviceType
    progress
    progressStage
    nextProgressStage
    noInstall
    installLink
    buyLink
    description
    tag
    enableMdRendering
    notValid
    portStatus { categoryName }
    nextStageRequirements {
      categoryName
      features { name value }
    }
    deviceInfo { name }
    contributors { name }
    externalLinks { name }
  }
}
</page-query>

<script>
import PortStatus from "~/components/devices/PortStatus.vue";

export default {
  metaInfo() {
    return {
      title: this.$page.device.name,
      meta: [
        {
          name: "robots",
          content: "noindex"
        },
        {
          name: "description",
          content:
            "Read the developer report for " +
            this.$page.device.name +
            " with the Ubuntu Touch operating system."
        },
        {
          property: "og:url",
          content: "https://devices.ubuntu-touch.io" + this.$route.path
        },
        {
          property: "og:title",
          content: this.$page.device.name + " • Developer report"
        },
        {
          property: "og:description",
          content:
            "Read the developer report for " +
            this.$page.device.name +
            " with the Ubuntu Touch operating system."
        }
      ]
    };
  },
  components: {
    PortStatus
  }
};
</script>
