<template>
  <Page>
    <Sidebar />
    <!-- Content -->
    <div class="content">
      <Donate />
      <slot />
      <!-- Built With -->
      <NewPort :mobile="true" />
    </div>
  </Page>
</template>

<script>
import Page from "~/layouts/Page.vue";

import Sidebar from "~/components/devices/Sidebar.vue";
import NewPort from "~/components/devices/NewPort.vue";

import Donate from "~/components/Donate.vue";

export default {
  components: {
    Page,
    Sidebar,
    NewPort,
    Donate
  }
};
</script>
